		</main>
		<footer class="page-footer brown darken-4 white-text">
			<div class="container">
				Your opinions are important to us! Please shoot an email to <tt>/dev/null</tt> and we will respond as soon as we received it!
			</div>
			<div class="footer-copyright">
				<div class="container">
					&copy; 2016 EarthSavior, All rights reserved.
				</div>
			</div>
		</footer>
	</body>
</html>
