<html>
	<head>
		<title><%= title %></title>
		<script src="/js/jquery.min.js"></script>
		<script src="/js/materialize.min.js"></script>
		<script src="/js/universal.js"></script>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<link rel="stylesheet" href="/css/materialize.min.css" />
		<link rel="stylesheet" href="/css/universal.css" />
	</head>	
	<body>
		<header class="light-green accent-1">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<h1>EarthSavior</h1>
						<h6>Changing the future begins here</h6>
					</div>
				</div>
			</div>
			<nav class="light-green darken-4">
				<div class="container">
					<a href="#" data-activates="side-nav" class="button-collapse"><i class="material-icons">menu</i></a>
					<ul class="navbar hide-on-med-and-down">
						<li><a href="/"><i class="material-icons left">home</i>Home</a></li>
						<li><a href="/wireframe/uploads.html"><i class="material-icons left">file_upload</i>Uploads</a></li>
						<li><a href="/wireframe/feedback.html"><i class="material-icons left">feedback</i>Feedback</a></li>
					</ul>
				</div>
			</nav>
			<ul id="side-nav" class="side-nav">
				<li><a href="/"><i class="material-icons">home</i>Home</a></li>
				<li><a href="/wireframe/uploads.html"><i class="material-icons">file_upload</i>Uploads</a></li>
				<li><a href="/wireframe/feedback.html"><i class="material-icons">feedback</i>Feedback</a></li>
			</ul>
		</header>
		<main class="container">
