<form class="row upload-form">
  <div class="col s12">
    <div class="card">
      <div class="card-image <%= color %> darken-4 file-field input-field center-align upload-card">
        <div class="hide file-path-wrapper">
          <input class="file-path" type="text" />
        </div>
        <div class="image-upload">
          <i class="material-icons display <%= color %>-text lighten-4 valign">photo</i>
        </div>
        <img class="image-preview hide" />
				<div class="overlay image-preview-overlay hide"></div>
        <div class="card-title">
          Today is <u><%= (new Date()).toLocaleDateString() %></u> 
        </div>
        <input type="file"/>
      </div>
      <div class="card-content">
				<div class="row hide message red-text">
					<em>You need to choose an image to upload. Tap the area above to choose.</em>
				</div>
				<div class="row">
	        <div class="input-field col s12">
						<input type="text" id="title" placeholder="Item name" class="validate"/>
        	  <label for="title">What is this?</label>
        	</div>
				</div>
        <div class="row">
          <div class="input-field col s12">
            <textarea id="description" class="materialize-textarea"></textarea>
            <label for="description">A short description about this item</label>
          </div>
        </div>
      </div>
    </div>
    <button class="right btn-large btn-flat waves-effect waves-light" type="submit">Submit<i class="material-icons right">send</i></button>
  </div>
</form>
