<%- include('./partials/header', { activeItem: "forum" } ); %>
<div class="container">
	<div class="row center-align">
	</div>
  <div id="spinner" class="valign-in-overlay preloader-wrapper big active">
    <div class="spinner-layer spinner-green-only">
      <div class="circle-clipper left">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div> 
  <div class="row" id="forum"></div>
</div>
<div id="message" class="modal">
  <div class="modal-content">
    <h4>Oops!</h4>
    <p>We were unable to fetch the forum threads. Please try again.</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Retry</a>
  </div>
</div>
<div class="fixed-action-btn hide-on-med-and-up">
	<a href="#" class="btn-floating btn-large waves-effect waves-light orange z-depth-3">
		<i class="material-icons">arrow_upward</i>
	</a>
</div>
<script src="/js/forum.js"></script>
<%- include ./partials/footer %>
