<% include ./partials/header %>
<div class="row center promo">
	<div class="col s12 m6">
		<section class="section">
			<h5><i class="material-icons">photo_camera</i>Show your junk</h5>
			<p>Upload a photo of your trash to us, tell the world where you think it should go!</p>
		</section>
	</div>
	<div class="col s12 m6">
		<section class="section">
			<h5><i class="material-icons">forum</i>Discuss your decisions</h5>
			<p>Did you get it right? You may have thought so, but let's work it out!</p>
		</section>
	</div>
</div>
<% include ./partials/footer %>
