<%- include('./partials/header', { activeItem: "home" } ); %>
<div class="container">
	<div class="row center promo">
		<div class="col s12 m4">
			<section class="section">
				<h5><a href="/uploads"><i class="material-icons large">photo_camera</i>Show your junk</a></h5>
				<p>Upload a photo of your trash to us, tell the world where you think it should go!</p>
			</section>
		</div>
		<div class="col s12 m4">
			<section class="section">
				<h5><a href="/forum"><i class="material-icons large">forum</i>Discuss your decisions</a></h5>
				<p>Did you get it right? You may have thought so, but let's work it out!</p>
			</section>
		</div>
		<div class="col s12 m4">
			<section class="section">
				<h5><a href="/stat"><i class="material-icons large">insert_chart</i>View Overall Statistics</a></h5>
				<p>This contains all the work every one of you have invested in. We will look at these data and do something good, and you can too!</p>
			</section>
		</div>
	</div>
</div>
<%- include ./partials/footer %>
